// цвета
$bg-color: #fff;
$section-color: #FDFDFB;
$button-and-footer: #444240;
$button-active: #D4B098;
$message-bg: #E6C8B4;
$text-light: #555248;
$text-dark: #1B1A17;
$dash: #8B8371;
$pagination-highlight: #F7F5EF;
$footer-text: #D0D0CF;
$social-link: #5C5C50;

//шрифты

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Prata&family=Roboto:wght@300;400;500;700&display=swap');

$main-serif: "Playfair Display", serif;
$main-sans-serif: "Roboto", sans-serif;
$serif: "Prata", serif;

// шаблоны

