.footer {
	&__container {
		display: flex;
		justify-content: space-around;
		align-items: flex-start;
		padding: 62px 0 42px 0;
		gap: 20px;
	}

	&__column {
		padding: 10px 0 10px 0;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&__logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: $footer-text;
		margin-bottom: 14px;
		margin-top: -3px;
	}

	&__title {
		color: $bg-color;
		font-family: $main-sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 0.07em;
		text-transform: uppercase;
		margin-bottom: 17px;
	}

	&__link {
		color: $footer-text;
	}

	&__link:visited {
		color: $footer-text;
	}
}
.footer .logo {
	&__img {
		filter: invert(100%) sepia(24%) saturate(2%) hue-rotate(158deg) brightness(108%) contrast(101%);
	}

	&__text {
		color: $bg-color;
		font-family: $main-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		letter-spacing: 0.14em;
	}
}

@media (max-width: 767.98px) {
	.footer {
		display: flex;
		justify-content: center;
		&__container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			max-height: 600px;
		}
		&__column {
			align-self: flex-start;
		}
	}
}

@media (max-width: 424.98px) {
	.footer {
		&__container {
			display: flex;
			flex-direction: column;
			max-height: 100%;
			padding: 43px 0 43px 0;
		}
		&__column {
			width: 100%;
			align-items: center;
			justify-content: center;
		}
	}
}
